@import '../../../styling/styling';

@progressBarWidth: 80%;
@toggleButtonColor: @gray;
@progressBarControlMaxWidth: 600px;

.budgetingTotalUsed {
  text-align: center;
}

.root {
  background: @white;
  padding: @spacingL @spacingL 10px 50px;
  box-shadow: 0 5px 45px -20px @black;
}

.label {
  line-height: @progressBarHeight;
  float: left;
  font-size: 14px;

}

.progressBarWrapper {
  overflow: hidden;
  padding: 0 (100% -  @progressBarWidth) / 2;
}

.progressBarControl {
  max-width: @progressBarControlMaxWidth;
}
