@import '../../../styling/styling';

@markerWidth: 38px;
@markerHeight: 48px;
@markerIconSize: 25px;

.mask {
  cursor: -webkit-grab; // stylelint-disable-line value-no-vendor-prefix
  cursor: -moz-grab; // stylelint-disable-line value-no-vendor-prefix
}

.popup {
  :global .leaflet-popup-content {
    margin: @spacingL @spacingS @spacingS;
  }
}

.markerIconWrapper {
  width: @markerWidth;
  height: @markerHeight;
  font-size: @markerHeight;
  line-height: @markerHeight;
  background-size: contain;
  background-repeat: no-repeat;

  &:before {
    content: '_';
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
    top: 1px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: transparent;
    z-index: -1;
  }
}

.markerIcon {
  width: @markerIconSize;
  height: @markerIconSize;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  top: 6px;
  left: (@markerWidth - @markerIconSize)/2;
  position: absolute;
  z-index: -1;
}

.customSvgIcon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
}
