@import '../../../styling/styling';

@fontSize: 24px;

.question {
  font-size: @fontSize;
  line-height: (36 / 24);
  margin-bottom: 1em;
  position: relative;

  @media (max-width: @screen-md-max) {
    padding-left: 45px;
  }

  .iconWrapper {
    text-align: right;
    position: absolute;
    top: 0;
    left: 15px;

    @media (min-width: @screen-lg-min) {
      left: -30px;
    }
  }

  .editIcon {
    display: block;
    font-size: @fontSize;
    color: @cyan;
  }
}

.inputFieldWrapper {
  padding-top: 1em;
}