@import '../../../styling/styling';

.separator {
  position: relative;
  margin-top: @spacingL;
  padding-top: @spacingL;


  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 50px;
    height: 1px;
    background: @gray;
    transform: translateX(-50%);
  }
}
