{
  "extends": "airbnb",
  "rules": {
    "indent": ["error", 2],
    "max-len": ["error", 120],
    "react/jsx-indent": ["error", 2],
    "react/no-unused-prop-types": 0, // This gives a lot of false positives, lets disable for now
    "curly": ["error", "all"] // Always require curlys.
  },
  "env": {
    "browser": true
  }
}
