@bootstrap: '../../node_modules/bootstrap/less';

@import '@{bootstrap}/variables.less';

@baseGray: #495E64;
@black: #000000;
@darkGray: #231F20;
@darkerGray: #4A5E64;
@gray: #888888;
@lightGray: #CCCCCC;
@brown: #827759;
@green: #5CB85C;
@lightGreen: #50DA5F;
@cyan: #00B9F4;
@orange: #FFCF45;
@white: #FFFFFF;
@red: #F02833;

@backgroundColor: #f5f7f7;
@textColor: darken(@baseGray, 5%);
@lineColor: fade(#8DAAB3, 40%);

@progressBarHeight: 15px;
@spacingXL: 40px;
@spacingL: 25px;
@spacingM: 15px;
@spacingS: 10px;

// https://matthewlein.com/ceaser/
@transitionDuration: 250ms;
@transitionEasing: cubic-bezier(0.42, 0, 0.58, 1);

@headerHeight: 60px;
@sideBarWidth: 340px;
@assignmentHeaderHeight: 75px;


// Forms
@form-placeholder-color: #8DAAB3;
@form-border: 1px solid #8DAAB3;
@form-shadow: 0px 5px 10px fade(#8DAAB3, 25%) inset;
@form-border-radius: 6px;

@form-hover-border: 1px solid @cyan;
@form-hover-shadow: 0px 5px 10px fade(@cyan, 12%) inset, 0px 5px 10px fade(#8DAAB3, 25%);

@form-focus-color: @cyan;
