@bootstrap: "../../node_modules/bootstrap/less";

@import "@{bootstrap}/variables.less";

@black: #000;
@darkGray: #231f20;
@gray: #888;
@lightGray: #ccc;
@green: #5cb85c;
@cyan: #1fbaf1;
@white: #fff;

@progressBarHeight: 15px;
@spacingXL: 45px;
@spacingL: 30px;
@spacingM: 15px;
@spacingS: 10px;
