@bootstrap: '../../node_modules/bootstrap/less';

@import '@{bootstrap}/variables.less';

@black: #000000;
@darkGray: #231F20;
@darkerGray: #4A5E64;
@gray: #888888;
@lightGray: #CCCCCC;
@brown: #827759;
@green: #5CB85C;
@lightGreen: #50DA5F;
@cyan: #1FBAF1;
@orange: #FFCF45;
@white: #FFFFFF;

@backgroundColor: #F6F6F6;
@textColor: #252525;
@lineColor: @textColor * 0.4 + @white * (1 - 0.4);

@progressBarHeight: 15px;
@spacingXL: 40px;
@spacingL: 25px;
@spacingM: 15px;
@spacingS: 10px;

// https://matthewlein.com/ceaser/
@transitionDuration: 250ms;
@transitionEasing: cubic-bezier(0.42, 0, 0.58, 1);

@headerHeight: 60px;
@sideBarWidth: 340px;
@assignmentHeaderHeight: 75px;
