@import '../styling/styling';

@borderRadius: 10px;
@margin: @spacingXL @spacingL;

.root {
  background: @white;
  padding: @spacingM;
  margin: @spacingM @spacingS;
  max-width: 1020px;
  box-shadow: 0 9px 22px 0 darken(@backgroundColor, 7%);

  .tablet({
    margin: @margin;
    padding: @spacingL;
    border-radius: @borderRadius;
    border: 1px solid darken(@backgroundColor, 8%);
  });

  :global h1,
  :global h2 {
    &:not(:global .no-separator) {
      position: relative;
      padding-bottom: 1em;
      margin-bottom: 0.5em;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 50px;
        height: 1px;
        background: @lineColor;
        transform: translateX(-50%);
      }
    }
  }
}
