@import "../styling/styling";

@progressBarWidth: 80%;

.root {
  background: @white;
  padding: @spacingL;
  color: @gray;
}

.label {
  line-height: @progressBarHeight;
  float: left;

}

.progressBarWrapper {
  overflow: hidden;
  padding: 0 (100% -  @progressBarWidth) / 2;
}