@import '../styling/styling';

@background-normal: @darkGray;
@background-selected: #0F0D0D;
@iconWrapperWidth: 45px;
@logoWrapperHeight: 160px;
@circleSize: 6px;
@fontSizeLarge: 19px;
@fontSize: 15px;
@lineHeight: 1.4;

.root {
  background: @background-normal;
  min-height: 100vh;

  ul {
    list-style-type: none;
  }
}

.logoWrapper {
  overflow: hidden;
  height: 0;
  text-align: center;

  .tablet({
    height: @logoWrapperHeight;
    padding-top: 0;
  })
}

.logo {
  display: none;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: @cyan;
  font-size: 175px;
  line-height: 1;

  .tablet({
    display: block;
  })
}

.menu {
  padding: 0;

  .menuItemLink {
    display: block;
    padding: 15px 15px 15px (@iconWrapperWidth * 1.25);
    position: relative;
    font-size: @fontSizeLarge;
    line-height: @lineHeight;
    color: @cyan;
    font-weight: 300;

    &:hover,
    &:focus {
      color: lighten(@cyan, 15%);
      text-decoration: none;
    }
  }

  .selectedItem {
    background: @background-selected;
    border-right: 5px solid @cyan;
  }

  .iconWrapper {
    display: inline-block;
    text-align: right;
    width: @iconWrapperWidth;
    position: absolute;
    top: 15px;
    left: 0;

    .menuIcon {
      display: block;
      font-size: 20px;
      line-height: 1.2;
    }
  }

  .submenu {
    padding: 0 0 15px (@iconWrapperWidth * 1.25);
  }

  .menuSubitem {
    a {
      color: rgba(255, 255, 255, 0.9);
      display: block;
      font-size: @fontSize;
      padding: 7px 15px 7px 0;
      line-height: @lineHeight;
      cursor: pointer;

      &:hover {
        color: #FFFFFF;
        text-decoration: none;
      }

      span {
        margin-right: 10px;
      }
    }
  }

  .menuSubitemSelected {
    position: relative;

    a {
      color: @cyan;

      &:hover {
        color: @cyan;
      }
    }

    &:before {
      content: '';
      position: absolute;
      width: @circleSize;
      height: @circleSize;
      background: @cyan;
      border-radius: 50%;
      left: -1em;
      top: 15px;
    }
  }
}