@import '../styling/styling';

@background-normal: @darkGray;
@background-selected: #0F0D0D;
@iconWrapperWidth: 40px;
@logoWrapperHeight: 160px;
@circleSize: 0.5em;
@fontSize: 14px;
@lineHeight: 1.4;

.root {
  background: @background-normal;
  min-height: 100vh;

  ul {
    list-style-type: none;
  }
}

.iconWrapper {
  display: inline-block;
  text-align: center;
  width: @iconWrapperWidth;
  position: absolute;
  top: 0;
  left: 0;
}

.selectedItem {
  background: @background-selected;

  .menuItem {
    border-right: 4px solid @cyan;
  }
}

.menu {
  padding: 0 0 0 0;
}

.menuItem {
  padding: 0 @spacingM 0 0;

  a {
    color: @cyan;

    &:hover {
      color: darken(@cyan, 20);
      text-decoration: none;
    }
  }
}

.menuItemLink {
  display: inline-block;
  padding-left: @iconWrapperWidth;
  position: relative;
  font-size: @fontSize;
  line-height: @lineHeight;
}

.menuIcon {
  display: inline-block;
  transform: scale(1.4);
  text-align: center;
}

.submenu {
  padding: 0 0 0.5em @iconWrapperWidth;
}

.menuSubitem {
  font-size: @fontSize;
  line-height: @lineHeight;
  margin-top: 15px;
  padding: 0 30px 0 0;

  a {
    color: @gray;

    &:hover {
      color: darken(@gray, 20);
      text-decoration: none;
    }
  }
}

.menuSubitemSelected {
  position: relative;

  a {
    color: @cyan;

    &:hover {
      color: @cyan;
    }
  }

  &:before {
    content: '';
    position: absolute;
    width: @circleSize;
    height: @circleSize;
    background: @cyan;
    border-radius: 50%;
    left: -1.5em;
    top: 50%;
    transform: translateY(-50%);
  }
}

.logoWrapper {
  overflow: hidden;
  height: 0;
  padding-top: 10px;

  .tablet({
    height: @logoWrapperHeight;
    padding-top: 0;
  })
}

.logo {
  display: none;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: @cyan;
  font-size: 130px;

  .tablet({
    display: inline-block;
  })
}
