{
  "rules": {
    "block-no-empty": true,
    "color-hex-length": "long",
    "color-named": "never",
    "color-no-invalid-hex": true,
    "comment-empty-line-before": [
      "always",
      {
        "ignore": [
          "stylelint-commands",
          "after-comment"
        ]
      }
    ],
    "font-family-name-quotes": "always-where-recommended",
    "max-nesting-depth": 5,
    "number-max-precision": 3,
    "property-no-vendor-prefix": true,
    "rule-empty-line-before": [
      "always-multi-line",
      {
        "except": [
          "first-nested"
        ],
        "ignore": [
          "after-comment"
        ]
      }
    ],
    "string-no-newline": true,
    "unit-no-unknown": true,
    "value-keyword-case": "lower",
    "value-no-vendor-prefix": true
  }
}